# Node modules
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS and IDE files
.DS_Store
Thumbs.db
.vscode
.idea/
*.swp

# Env
.env
.env.*
.env.local
.env.*.local
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing frameworks (Playwright)
static/microdata
/test-results/
/playwright-report/
/playwright/.cache/
